@page
@model ModelBindingModel

<form method="post">
  <!-- Display Data Validation Summary of all errors. Optional -->
  <div asp-validation-summary="All" class="text-danger"></div>
  <div class="mb-3">
    <label asp-for="Username" class="form-label"></label>
    <input asp-for="Username" class="form-control">
    <!-- Perform Data Validation for Username. Required -->
    <span asp-validation-for="Username" class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label asp-for="Password" class="form-label"></label>
    <input asp-for="Password" type="password" class="form-control">
    <span asp-validation-for="Password" class="text-danger"></span>
  </div>
  <div class="form-check">
    <input asp-for="LoginRole" class="form-check-input" type="radio" value="1" checked>
    <label class="form-check-label">Member</label>
  </div>
  <div class="form-check">
    <input asp-for="LoginRole" class="form-check-input" type="radio" value="2">
    <label class="form-check-label">Moderator</label>
  </div>
  <div class="form-check">
    <input asp-for="LoginRole" class="form-check-input" type="radio" value="3">
    <label class="form-check-label">Admin</label>
  </div>
  <span asp-validation-for="LoginRole" class="text-danger"></span>
  <hr class="my-4">
  <div class="form-check">
    <input asp-for="RememberMe" class="form-check-input" type="checkbox">
    <label class="form-check-label">Remember Me?</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
@if (Model.Username != string.Empty)
{
    <p>Thank you @Model.Username. Your password is @Model.Password</p>
}

<!-- Add JS code for Data Validation -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}